.AdminHeader {
  height: 20%;
  width: 100%;
  margin-bottom: 20px;
  
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-custom { 
  height: 100%;
  display: flex;
  
}

.navbar-brand-custom img { 
  font-weight: bold;
  width: 70%; 
}

.my-navbar-color {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* background-color: #f8f9fa; */
  background: #d9a7c7;  
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #d9a7c7); 


}

a.nav-link svg {
  margin-right: 8px;
}

.NavLink:hover {
  color: #007bff;
}
