.ClubMember{
  width: 100%;
  margin-top: 20px;
}
.ClubMemberSearchArea{
  display: flex;
  justify-content: end;
  padding-bottom: 10px;

}
.ClubMemberSearchBox{
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 1px solid rgb(0,0,0,0.5);
  outline: none;
  border-radius: 80px;
  padding-left:20px;
}
.ClubMemberSearchBox input{
  border: none;
  outline: none;
  font-size: 12px;
  width: 120px;
}
.ClubMemberSearchBox img{
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}
.ClubMemberHeaderArea{
  display: flex;
  gap: 10px;
  padding: 20px;
  text-align: center;
}
.ClubMemberHeaderArea div{
  font-weight: bold;
  font-size: 18px;
}
.ClubMemberProfile{
  width: 250px;
}
.ClubMemberGender,.ClubMemberAge,.ClubMemberDate{
  width: 140px;
}
.ClubMemberBox{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  padding: 12px;
  margin: 5px 0;
  justify-content: space-between;
}
.ClubMemberInfoBox{
  display: flex;
  align-items: center;
  gap: 10px;

}
.ClubMemberInfoBox p{
  margin: 0;
}
.ClubMemberImageBox{
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}
.ClubMemberImageBox img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 30px;
}
.ClubMemberProfileInfo{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 170px;
}
.ClubMemberName{
  margin: 0;
  font-weight: bold;
}
.ClubMemberMg{
  width: 100%;
  margin: 0;
  font-size: 14px;
  color: rgb(114, 114, 114);
  text-wrap: nowrap;
  overflow: hidden;
}
.ClubMemberGenderArea{
  width: 140px;
  text-align: center;
}
.ClubMemberAgeArea{
  width: 145px;
  text-align: center;
}
.ClubMemberDateArea{
  width: 140px;
  text-align: center;
}
.ClubMemberDeleteBox{
  padding-right: 10px;
}
.ClubMemberDeleteBox img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.ClubAcceptButtonBox{
  display: flex;
  gap: 10px;
  padding-right: 10px;
}
.ClubAcceptButtonBox img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}