.UserModify{
  width: 100%;
  text-align: left;
  padding-left: 50px;
  min-height: 1000px; 
}
.UserModifyWrap{
  margin: 0 auto;
}
.UserModifyContentBorder{
  border-bottom: 3px solid #222;
  padding-bottom: 16px;
}
.UserModifyTitle{
  font-size: 24px;
  letter-spacing: -.36px;
}
.UserModifyMainArea{
  width: 100%;
}
