.ClubRegister {
  width: 100%;
  text-align: center;
  margin-top: 140px;
}
.ClubRegisterWrap {
  width: 70%;
  margin: 0 auto;
}

.ClubRegisterHeader {
  width: 100%;
  display: flex;
  text-align: start;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
  margin-left: 80px;
}
.ClubRegisterHeader span {
  font-weight: 600;
  font-size: 27px;
}
.ClubRegisterHeader img {
  margin-left: 12px;
  width: 35px;
  height: 35px;
  position: relative;
  top: 1px;
}
.ClubRegisterTopArea {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  padding: 10px;
  margin-left: 80px;
}
.ClubRegisterTopBox {
  width: 100%;
  display: flex;
  gap: 10%;
  margin-bottom: 20px;
}
.preview {
  position: relative;
  width: 600px;
  height: 370px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.preview img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  object-fit: cover;
}
.upload-name {
  display: inline-block;
  width: 400px;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
}
.fileBox label {
  display: inline-block;
  padding: 7px 20px;
  color: #fff;
  border-radius: 7px;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  margin-left: 10px;
}
#imageUpload {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.ClubRegisterImageDeleteButton {
  display: inline-block;
  padding: 7px 20px;
  color: #fff;
  border-radius: 7px;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  margin-left: 10px;
  border: none;
}
.ClubRegisterNcBox {
  display: flex;
  flex-direction: column;
  margin: 150px 0 0 20px;
  justify-content: space-between;
}
.ClubRegisterNameBox {
  display: flex;
  flex-direction: column;
}
.ClubRegisterNameBox,
.ClubCategoryBox label {
  font-size: 17px;
  font-weight: 600;
}
.ClubRegisterNameBox input {
  width: 350px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid rgba(72, 72, 72, 0.5);
  outline: none;
  font-size: 16px;
  padding: 0 10px;
  margin-top: 8px;
}
.ClubCategoryBox {
  display: flex;
  flex-direction: column;
}
.ClubCategoryBox select {
  width: 350px;
  border-radius: 10px;
  height: 38px;
  font-size: 16px;
  border: 1px solid rgba(72, 72, 72, 0.5);
  padding: 0 10px;
  margin-top: 8px;
}
.daySelect {
  width: 160px;
  border: 1px solid rgba(72, 72, 72, 0.5);
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.ClubRegisterChoice {
  display: flex;
  justify-content: space-around;
}
.ClubRegisterChoice button {
  padding: 5px 10px;
  text-align: center;
  height: 36px;
}
.ClubRegisterChoiceArea {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.ClubRegisterChoiceSection {
  display: flex;
  justify-content: space-between;
}
.choiceBoxArea {
  display: flex;
  flex-direction: column;
  margin-right: 222px;
  height: 390px;
  justify-content: space-between;
}
.choiceBox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.choiceBox label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 1%;
}
.choiceBox input {
  margin-top: 6px;
  text-align: end;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(72, 72, 72, 0.5);
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}
.choiceBox select {
  text-align: end;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(72, 72, 72, 0.5);
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}
.venueBox > span {
  font-size: 19px;
  font-weight: 600;
  margin-left: 20px;
}
.venueChoice {
  margin-top: 12px;
  display: flex;
  width: 600px;
}
.venueChoice ul,
li {
  list-style-type: none;
  padding: 0;
}
.venueChoiceLocal ul {
  width: 200px;
  height: 350px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  padding: 10px 0 10px 10px;
}
.venueChoiceLocal ul::-webkit-scrollbar {
  display: none;
}
.venueChoiceLocal li {
  text-align: center;
  flex: none;
  padding: 4px;
  width: 140px;
  height: 35px;
  border-radius: 6px;
  background-color: rgba(118, 137, 199, 0.169);
  font-size: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
}
.venueChoiceLocal li:hover {
  background-color: skyblue;
  color: white;
}

.venueChoiceCity ul {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  overflow: auto;
  width: 400px;
  height: 350px;
  padding: 10px 0 0 30px;
  border-left: 1px solid rgb(0, 0, 0, 0.3);
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  gap: 18px;
  text-align: center;
}
.venueChoiceCity ul::-webkit-scrollbar {
  display: none;
}
.venueChoiceCity li {
  flex: none;
  padding: 4px;
  width: 145px;
  height: 35px;
  font-size: 14px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 16px;
  margin-right: 30px;
  font-weight: 500;
  color: rgb(54, 54, 54);
}
.venueChoiceCity li:hover {
  background-color: skyblue;
  color: white;
  border: none;
}
.ClubRegisterSection {
  margin: 20px 0 40px 90px;
  padding-left: 20px;
  text-align: left;
}

.ClubRegisterSection textarea {
  border-radius: 8px;
  width: 900px;
  height: 200px;
  padding: 20px;
  resize: none;
}
.ClubRegisterButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px;
}
.registerButton {
  text-align: center;
  width: 190px;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(42, 42, 42);
  border: 1px solid rgb(255, 255, 255);
  letter-spacing: 3px;
}
.cancelButton {
  text-align: center;
  width: 190px;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(255, 63, 63);
  border: 1px solid rgb(255, 255, 255);
  letter-spacing: 3px;
}
#toolbar {
  width: 1000px;
}
.registerButton:hover {
  background-color: rgb(22, 22, 22);
}
.cancelButton:hover {
  background-color: rgb(255, 113, 113);
}
