.ClubDetailInfo {
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
.ClubDetailWrap {
  position: relative;
  width: 65%;
  margin: 0 auto;
}
.ClubDetailTopArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}
.ClubDetailTopTitleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ClubDetailHeader {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
.ClubDetailHeaderBox {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.ClubDatailCategoryWrapDiv {
  display: flex;
  margin: 10px 5px 0 0;
  align-items: center;
  width: 100%;
}
.clubspanspan {
  position: relative;
  top: 11px;
  font-size: 30px;
  margin-left: 17px;
}
.clubspanspanspan {
  font-size: 18px;
  margin-left: 6px;
  color: rgb(255, 80, 80);
  position: relative;
  top: 7px;
}
.ClubDetailCategoryIcon {
  width: 40px;
  height: 40px;
}
.ClubDetailReportBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ClubDetailReportBox img {
  width: 30px;
  height: 30px;
}
.ClubDetailReportButton {
  background-color: red;
  border: 1px solid rgb(114, 114, 114);
  border-radius: 5px;
}
.ClubDetailTopTitleBox h1 {
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(0, 0, 0, 0.15);
}
.clubclubtitle {
  margin: 30px auto 0 auto;
  font-size: 32px;
  color: rgb(48, 48, 48);
}
.ClubDetailTop_contentArea {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 210px 0 200px;
}
.ClubDetailTop_contentArea div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 17px;
  font-weight: 600;
}
.ClubDetailTop_contentArea div span {
  position: relative;
  top: 1px;
  color: #262626;
}
.ClubDetailTop_contentArea div img {
  width: 28px;
  height: 28px;
}
.ClubDetailTopMiddleBox {
  margin: 35px auto 0 auto;
  display: flex;
}
.ClubDetailTopImageArea {
  width: 600px;
  height: 400px;
  background-color: gray;
  border-radius: 12px;
}
.ClubDetailTopImageArea img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.ClubDetailTop_middelContentArea {
  margin-left: 100px;
  padding-top: 180px;
  padding-bottom: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ClubDetailTop_middelContentArea div {
  display: flex;
  gap: 10px;
  font-size: 22px;
}
.ClubDetailTop_middelContentArea div img {
  width: 30px;
  height: 30px;
}
.clubdetailspanspan {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: 3px;
  color: rgb(34, 34, 34);
}
.clubdetailspanspanspan {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  color: rgb(40, 40, 40);
}
.ClubDetailSectionArea {
  display: flex;
  margin: 80px 180px 0 180px;
  justify-content: space-between;
}
.ClubDetailIntroDuceArea {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.ClubDetailIntroDuceArea span {
  font-size: 22px;
  font-weight: 600;
}
.ClubDetailIntroDuceText {
  margin-top: 15px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 550px;
  height: 250px;
  padding: 10px 0 0 15px;
}
.ClubDetailIntroDuceText::-webkit-scrollbar {
  display: none;
}
.ClubDetailMemberArea {
  position: relative;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 250px;
  height: 350px;
  margin-left: 100px;
  border-radius: 8px;
  background-color: rgb(249, 249, 227);
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.1);
}
.ClubDetailMemberArea > div {
  margin: 15px 10px 0 10px;
}
.ClubDetailMemberArea > div > span {
  font-size: 18px;
}
.ClucDetailMemberBox {
  display: flex;
  flex-direction: column;
  height: 420px;
  padding-top: 5px;
  overflow: auto;
  gap: 4px;
  width: 250px;
}
.ClucDetailMemberBox::-webkit-scrollbar {
  display: none;
}
.ClubDetailMemberInfoBox {
  display: flex;
  align-items: center;
  width: 220px;
  padding: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 10px;
}
.ClubDetailMemberInfoBox:hover {
  background-color: rgb(255, 238, 162);
}
.ClubDetailMemberInfoBox img {
  width: 36px;
  height: 36px;
  border-radius: 20px;
}
.ClubDetailMemberInfo {
  padding: 2px;
  margin-left: 10px;
  text-align: left;
  margin-top: 3px;
}
.ClubDetailMemberNickname {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.ClubDetailMemberIntro {
  margin: 3px 0 0 0;
  font-size: 11px;
  color: rgb(114, 114, 114);
}

.ClubDetailBottomArea {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 6%;
}
.ClubDetailBottomArea h3 {
  text-align: left;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid black;
  font-size: 28px;
  font-weight: bold;
}
.ClubDetailPopGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ClubDetailPopGroupInfoBox {
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 13px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  transition: 0.3s ease;
  cursor: pointer;
}
.ClubDetailPopGroupImage img {
  width: 290px;
  height: 194px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  transition: transform 0.3s ease;
  object-fit: cover;
}
.ClubDetailPopGroupInfo {
  position: relative;
  width: 290px;
  height: 180px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 10px 20px; /* padding 값을 조정하여 여백 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  background-color: rgb(232, 245, 255); /* 부모 요소의 배경색 상속 */
}
.ClubDetailPopGroupInfo > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ClubDetailPopGroupInfo div {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}
.ClubDetailPopGroupInfoBox:hover {
  transform: translateY(-5px);
}
.ClubDetailSignButtonArea {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 500px;
  height: 90px;
  transform: translateX(-50%);
  border: 1px solid rgb(218, 220, 224);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
  background-color: white;
  padding: 10px;
  z-index: 2;
  border-radius: 8px;
}
.ClubDetailSignButtonBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.ClubDetailSignTextArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ClubDetailSignTextArea p {
  margin: 0;
}
.ClubDetailSignTextArea span {
  color: red;
  font-size: 22px;
}
.ClubDetailSignButton {
  width: 230px;
  height: 45px;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.ClubDetailSignButton:hover {
  background-color: rgb(69, 69, 69);
}
