.MyPageSideArea {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 230px;
}
.MyPageSideArea h4,
.MyPageSideArea h5 {
  font-weight: bold;
  margin: 5px 0 0 0;
}
.MyPageInfoMenuArea,
.MyPageClubMenuArea {
  width: 100%;
  margin-top: 40px;
}
.MyPageInfoHeader,
.MyPageClubHeader {
  display: flex;
  align-items: center;
  height: 50px;
}
.MyPageInfoHeader img,
.MyPageClubHeader img,
.myPageReportMenu img {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}
.MyPageInfoMenu,
.MyPageClubMenu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(151, 151, 151);
}
.MyPageInfoMenu span:hover,
.MyPageClubMenu span:hover {
  color: rgb(83, 83, 83);
}
.MyPageInfoMenu span,
.MyPageClubMenu span {
  cursor: pointer;
}
.myPageReportMenu {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}
.myPageReportMenu h5 {
  margin-bottom: 6px;
  cursor: pointer;
  color: rgb(255, 160, 36);
}
