.UserMyClub {
  margin: 0;
  text-align: left;
  min-height: 900px;
}
.UserMyClubWrap {
  margin: 0 auto;
}
.UserMyClubContentBorder {
  border-bottom: 3px solid #222;
  padding-bottom: 16px;
}
.UserMyClubTitle h4 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}
.UserMyClubMainArea {
  width: 100%;
  margin-top: 30px;
}
.UserMyClubArea {
  margin: 0;
  padding: 0;
}
.UserMyClubSortBox {
  padding: 10px;
}
.UserMyClubSort {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  font-size: 13px;
  width: 110px;
  padding: 5px 35px 5px 10px;
  position: relative;
  cursor: pointer;
  outline: none;
}
.UserMyClubBox {
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  display: flex;
  padding: 15px 25px 15px 15px;
  justify-content: space-between;
}
.UserMyClubImageBox {
  position: relative;
}
.UserMyClubImageBox img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.UserMyClubInfo {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 120px;
  gap: 15px;
}
.UserMyClubCategory {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.UserMyClubTitle {
  font-size: 16px;
  margin: 0;
}
.UserMyClubDisaArea {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
}
.UserMyClubButtonArea {
  display: flex;
  gap: 40px;
}
.UserMyClubBoardImg,
.UserMyClubExitImg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.UserMyClubNoneArea {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UserMyClubNoneArea p {
  font-size: 20px;
}
.UserMyClubExitButton {
  border: none;
  color: white;
  background-color: rgb(247, 88, 88);
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}