backend/.metadata/.lock
backend/.metadata/.log
backend/.metadata/version.ini
backend/.metadata/.plugins/org.eclipse.core.resources/.history/9b/b09988f8b150001f167e85447be5ca2e
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/Awoolim/.location
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/Awoolim/.indexes/properties.index
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/Awoolim/.indexes/af/history.index
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/Awoolim/org.eclipse.egit.core/GitProjectData.properties
backend/.metadata/.plugins/org.eclipse.core.resources/.projects/Awoolim/org.eclipse.jdt.core/state.dat
backend/.metadata/.plugins/org.eclipse.core.resources/.root/5.tree
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
backend/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/Docker.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.apt.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.boot.dash.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
backend/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
backend/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
backend/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
backend/.metadata/.plugins/org.eclipse.jdt.core/1533013933.index
backend/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
backend/.metadata/.plugins/org.eclipse.jdt.core/757498578.index
backend/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
backend/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
backend/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
backend/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
backend/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
backend/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
backend/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
backend/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
backend/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
backend/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
backend/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
backend/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
backend/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2024/8/31/refactorings.history
backend/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2024/8/31/refactorings.index
backend/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
backend/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
backend/.metadata/.plugins/org.eclipse.m2e.jdt/Awoolim.container
backend/.metadata/.plugins/org.eclipse.m2e.logback/0.log
backend/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.1.20240411-1122.xml
backend/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
backend/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
backend/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
backend/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
backend/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
backend/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
backend/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
backend/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
backend/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
backend/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
backend/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
backend/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
backend/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
backend/Awoolim/.classpath
backend/Awoolim/.factorypath
backend/Awoolim/.project
backend/Awoolim/HELP.md
backend/Awoolim/.settings/org.eclipse.core.resources.prefs
backend/Awoolim/.settings/org.eclipse.jdt.apt.core.prefs
backend/Awoolim/.settings/org.eclipse.jdt.core.prefs
backend/Awoolim/.settings/org.eclipse.m2e.core.prefs
backend/Awoolim/.settings/org.springframework.ide.eclipse.prefs
backend/Awoolim/src/main/resources/static/images/3e2c8f42-dabd-4dd6-a285-c6dfd507ab0f.jpg
backend/Awoolim/src/main/resources/static/images/431a3b05-b491-4e67-90bb-fdf408334d39.jpeg
backend/Awoolim/src/main/resources/static/images/4602dc33-916a-404d-aa27-a78c45e4e4d6.jpg
backend/Awoolim/src/main/resources/static/images/9be3838a-e26e-4dcc-874d-6476d80d90e2.jpg
backend/Awoolim/src/main/resources/static/images/fd2fcaf9-f0e4-4fae-8e39-473efdf37fd7.jpeg
backend/Awoolim/src/main/resources/application-prod.properties
