@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.Admin {
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.AdminMainContainer {
  display: flex;
  flex: 1;
}

.AdminMainContent {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}