.FaqWrite{
    width: 70%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
}

.FwHeader {
    display: flex;
    align-items: center;
    
}

.fwCategory h5 {
    color: rgb(3, 3, 129); 
}

#category{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    margin: 0px;
    margin-bottom: 35px;
    margin-top: 10px;
}


.fwQuestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    margin-bottom: 35px;
}

.fwQuestion textarea{
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.fwQuestion h5 {
    color: rgb(3, 3, 129);  
}

.fwAnswer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fwAnswer h5{
    color: rgb(3, 3, 129);
}

.fwAnswer textarea{
    border-radius: 5px;
    padding: 10px;
}

.fwBtn {
    display: flex;
    justify-content: center;
}

.fwBtn button {
    padding: 10px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin: 5px;
    margin-top: 15px;
}