.NoticeRead {
    width: 70%;
    margin: 0 auto;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
}

.NrTitle {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.NrTitle .Nt1 {
    color : blue;
    font-weight: bold;
}
.NrTitle h2{
    margin-top: 5px;
}

.NrContents {
    margin-left: 40px;
    min-height: 300px;
}
.NrFooter {
    text-align: right;
}

.NrFooter button {
    padding: 7px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(85, 84, 84);
}