
div.ReportManager {
  width: 80%;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: -20px /* 오른쪽으로 추가 이동 */
}

.search-bar input {
  width: 20%;
}

.ReportManager > table > thead > tr > th {
  background-color: #6c757d;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ReportManager > table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.ReportManager > table th:first-child {
  border-top-left-radius: 5px;
  text-align: center;
}

.ReportManager > table th:last-child {
  border-top-right-radius: 5px;
}

.ReportManager > table td {
  background-color: white;
  text-align: center;
}

.ReportManager > table tr {
  transition: all 0.2s ease;
}

.ReportManager > table tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.warning {
  /* color: red !important; */
  font-weight: bold;
}

.pass {
  /* color: green !important; */
  font-weight: bold;
}

.before {
  /* color: #6c757d !important; */
  font-weight: bold;
}

.admin-modal-content { 
  padding : 20px;
  font-size: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin-modal-content div {
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
} 

textarea {
  width: 100%;
  min-height: 100px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ced4da;
  font-size: 14px;
  resize: none;
  box-sizing: border-box;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.reportNo-column {
  width: 70px;
}

