.UserManager {
  padding: 20px;
}

.UserManager > table {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.UserManager > table > thead > tr > th{
  font-weight: 600;
  font-size: 16px;
  color: #333;
  background-color: #f8f9fa;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}