#categoryDiv {
  width: 1344px;
  margin: 0 auto;
}

#categorySpan {
  font-family: sans-serif;
  background-color: #fff;
  padding: 0 20px 10px;
  margin-top: 8vh; /* 화면 높이에 따라 조절 */
  text-align: center;
}

#categorySpan span {
  font-size: 30px;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
  text-transform: uppercase; /* 대문자 변환 */
  letter-spacing: 1px; /* 자간 조절 */
}

#categoryA {
  margin: 15px auto 0 auto;
  width: 52%; /* 화면 너비에 따라 조절 */
  max-width: 1100px; /* 최대 너비 제한 */
  display: flex;
  justify-content: space-between;
}

#categoryA > a {
  text-decoration: none;
  padding: 11px 22px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 23px;
  color: #2e2e2e;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* 활성화된 카테고리 링크 스타일 */
#categoryA > a.active,
#categoryA > a:focus {
  color: white;
  font-weight: 600;
  background-color: #3879d4;
  outline: none;
}

#categoryA > a:hover {
  background-color: #c5c7ff;
}

/* 슬라이드 컨테이너 스타일 */
.categoryDiv {
  overflow-x: hidden;
  width: 1344px;
  margin-top: 20px;
}

.slide-container {
  display: flex;
  justify-content: start;
  transition: transform 0.5s ease;
  gap: 48px;
  min-height: 250px; /* 슬라이드 컨테이너 최소 높이 설정 */
}

.slide-item {
  margin-top: 5px;
  width: 300px;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 13px;
  height: 385px; /* 슬라이드 아이템 최소 높이 설정 */
}

.categoryButtonL,
.categoryButtonR {
  position: absolute;
  top: 905px;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  padding: 7px;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 30px;
  transition: background-color 0.2s ease;
  opacity: 0.7;
  cursor: pointer;
}

.categoryButtonL {
  left: 11vw; /* 왼쪽 여백을 vw 단위로 설정 */
}

.categoryButtonR {
  right: 11vw; /* 오른쪽 여백을 vw 단위로 설정 */
}

.categoryButtonR:hover,
.categoryButtonL:hover {
  background-color: #d4d4d4; /* 호버 시 배경색 변경 */
}

.image-placeholder {
  width: 300px;
  height: 200px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.club-item-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.club-item-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
