.chatlistmodal-chat-list-modal {
  width: 350px;
  height: 550px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 11;
}

.chatlistmodal-modal-header {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.chatlistmodal-modal-header img {
  height: 33px;
  padding-left: 5px;
}

.chatlistmodal-modal-header span {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.chatlistmodal-modal-header button {
  position: relative;
  margin-right: 16px;
  font-size: 13px;
  padding: 1px 8px 3px 8px;
  cursor: pointer;
  background-color: transparent; /* 배경색을 투명하게 */
  border: 1px solid #ccc; /* 테두리를 얇고 연한 회색으로 설정 */
  border-radius: 10px; /* 테두리에 둥근 모서리를 추가 */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* 부드러운 전환 효과 */
}

.chatlistmodal-modal-header button:hover {
  background-color: #b3b3b3; /* 호버 시 배경색 변경 */
  border-color: #bbb; /* 호버 시 테두리 색상 변경 */
}
.chatlistmodal-modal-header button:nth-child(1) {
  margin-left: 16px;
}

.chatlistmodal-room-list {
  border-top: 1px solid rgb(220, 220, 220);
}

.chatlistmodal-room-item {
  padding: 10px 10px 10px 15px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  color: rgb(70, 70, 70);
  border-bottom: 1px solid rgb(220, 220, 220);
}
.chatlistmodal-room-item:nth-child(2n) {
  background-color: #f9f9f9;
}

.chatlistmodal-room-item:hover {
  background-color: #c1c1c1;
}
