/* /src/css/member/clubitem.css */

.slide-item {
  margin-top: 5px;
  width: 300px;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 13px;
  min-height: 380px; /* 슬라이드 아이템 최소 높이 설정 */
  background-color: transparent; /* 배경색 추가, 여기서 원하는 색상으로 변경 가능 */
}

.categoryImg {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  transition: transform 0.3s ease;
}

.slide-item > a {
  display: flex;
  flex-direction: column;
  text-decoration: none; /* 밑줄 제거 */
  color: rgb(37, 37, 37);
  font-size: 15px;
  border-radius: 13px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slide-item-content {
  position: relative;
  width: 300px;
  height: 180px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 10px 20px; /* padding 값을 조정하여 여백 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  background-color: inherit; /* 부모 요소의 배경색 상속 */
}

.slide-item-content > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slide-item:hover > a {
  transform: translateY(-5px);
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.skeleton {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 13px;
}
