.ClubModify {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.ClubModifyTopArea {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  padding: 10px;
}
.ClubModifyTopBox {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.ClubModifyfileBox > div > span {
  font-size: 20px;
  font-weight: 600;
}
.ClubModifyNcBox {
  margin-top: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clubmodifyimginput {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.ClubModifyPreview {
  margin-top: 10px;
  position: relative;
  width: 600px;
  height: 400px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.ClubModifyPreview img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}
.ClubModifyupload-name {
  display: inline-block;
  width: 76%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
  outline: none;
}
.ClubModifyfileBox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  vertical-align: middle;
  background-color: #565656;
  cursor: pointer;
  margin-left: 10px;
}
.ClubModifyfileBox input {
  border-color: #9d9d9d;
  width: 480px;
  padding: 21px;
  border-radius: 7px;
}
#imageUpload {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.ClubModifyStateBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ClubModifyStateBox select {
  border-radius: 10px;
  height: 40px;
  font-size: 16px;
  width: 300px;
  border: 1px solid rgba(74, 74, 74, 0.5);
  padding: 0 10px;
}
.ClubModifyNameBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ClubModifyNameBox,
.ClubModifyCategoryBox,
.ClubModifyStateBox label {
  font-size: 18px;
  font-weight: bold;
}
.ClubModifyNameBox input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(74, 74, 74, 0.5);
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}

.ClubModifyCategoryBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ClubModifyCategoryBox select {
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-size: 16px;
  border: 1px solid rgba(74, 74, 74, 0.5);
  padding: 0 10px;
}
.ClubModifyChoiceArea {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.ClubModifyChoice {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.ClubModifyChoice button {
  width: 140px;
}

.daySelect {
  width: 160px;
  height: 35px;
  border: 1px solid rgba(74, 74, 74, 0.5);
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.ClubModifyChoiceSection {
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
}

.ClubModifyChoiceBoxArea {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ClubModifyChoiceBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ClubModifyChoiceBox label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 1%;
}
.ClubModifyChoiceBox input {
  text-align: end;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(74, 74, 74, 0.5);
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}
.ClubModifyChoiceBox select {
  text-align: end;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(74, 74, 74, 0.5);
  outline: none;
  font-size: 16px;
  padding: 0 10px;
}
.ClubModifyVenueBox {
  width: 600px;
}
.ClubModifyVenueBox > h5 {
  font-size: 20px;
  font-weight: 600;
  width: 600px;
  margin: 18px 0 0 15px;
  padding-bottom: 10px;
}
.ClubModifyVenueChoice {
  display: flex;
  width: 500px;
}
.ClubModifyVenueChoice ul,
li {
  list-style-type: none;
}
.ClubModifyVenueChoiceLocal ul {
  width: 150px;
  height: 330px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;

  border-bottom: 1px solid rgba(74, 74, 74, 0.5);
  padding: 0 0 10px 10px;
}
.ClubModifyVenueChoiceLocal ul::-webkit-scrollbar {
  display: none;
}
.ClubModifyVenueChoiceLocal li {
  flex: none;
  width: 130px;
  height: 25px;
  border-radius: 5px;
  background-color: rgba(74, 74, 74, 0.5);
  font-size: 14px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.ClubModifyVenueChoiceLocal li:hover {
  background-color: skyblue;
  color: white;
}
.ClubModifyVenueChoiceCity ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: start;
  flex-wrap: wrap;
  overflow: auto;
  padding: 0 0 10px 10px;
  height: 330px;
  border-left: 1px solid rgb(0, 0, 0, 0.3);

  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  gap: 10px;
}
.ClubModifyVenueChoiceCity ul::-webkit-scrollbar {
  display: none;
}
.ClubModifyVenueChoiceCity li {
  padding: 2px;
  width: 150px;
  height: 25px;
  font-size: 14px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: 600;
  color: gray;
  cursor: pointer;
}
.ClubModifyVenueChoiceCity li:hover {
  background-color: skyblue;
  color: white;
  border: none;
}
.ClubModifySection {
  margin-top: 30px;
  text-align: left;
  margin-left: 40px;
}

.ClubModifyButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px;
}
.modifyButton {
  width: 210px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
}
