.section-container2 {
  font-family: "Arial", sans-serif; /* 폰트 변경 */
  background-color: #f5f5f5; /* 연한 회색 배경 */
  padding: 20px;
  border-radius: 8px; /* 둥근 모서리 */
  margin: 20px auto 0 auto;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 은은한 그림자 */
}

.button-group {
  margin-top: 8vh; /* 화면 높이에 따라 조절 */
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px; /* 버튼 그룹과 콘텐츠 사이 간격 */
}

.button-group button {
  padding: 10px 20px;
  border: none;
  background-color: #e0e0e0; /* 연한 회색 버튼 */
  color: #333; /* 진한 회색 글씨 */
  border-radius: 5px; /* 둥근 모서리 */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 호버 효과 */
}

.button-group button:hover {
  background-color: #bdbdbd; /* 어두운 회색 호버 배경 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 호버 시 그림자 강조 */
}

.button-group button.active {
  background-color: #007bff; /* 활성 버튼 초록색 */
  color: white;
}

.content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h3 {
  color: #333;
  margin-bottom: 10px;
}
