.MyProfile{
  margin: 0;
  text-align: left;
  min-height: 900px;
}
.MyProfileHeader{
  border-bottom: 3px solid #222;
  padding-bottom: 16px;
}
.MyProfileHeader h4{
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}
.MyProfileInfoArea{
  border-bottom: 1px solid #ebebeb;
  display: flex;
  gap: 30px;
  height: 370px;
  padding-bottom: 20px;
  margin-top: 20px;
}
#MyProfileFile,#MyProfileBackFile{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.MyProfileImageArea{
  padding: 10px;
  width: 600px;
  height: 350px;
  position: relative;
  background-color: #779999;
  border-radius: 10px;
  object-fit: cover;
  background-size: cover;
}

.MyProfileBackImage{
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.MyProfileUserIamge{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.MyProfilebaseImage{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.989);
  z-index: 1;
}
.MyProfileIntroArea{
  margin-top: 60px;
  text-align: center;
}
.MyProfileNickName{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}
.MyProfileIntroMg{
  margin-top: 10px;
  color: rgba(255, 255, 255,0.89);
  font-size: 15px;
  font-weight: 500;
}
.MyProfileImgEditor{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.MyProfileChangeButtonArea{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  gap: 20px;
}

.MyProfileChangeButtonArea div{
  display: flex;
  gap: 10px;
}
.MyProfileChangeButton{
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, .8);
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  width: 140px;
  height: 34px;
  padding: 0 14px;
  background-color: white;
  align-content: center;
  cursor: pointer;
}
.MyProfileDeleteButton{
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, .8);
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  width: 60px;
  height: 34px;
  padding: 0 14px;
  background-color: white;
  align-content: center;
  cursor: pointer;
}
.MyProfileUpdateInfoArea{
  max-width: 480px;
  padding: 20px 0 0 10px;
}
.MyProfileUpdateInfoArea h4, h5,h6, p{
  margin: 0;
  padding: 0;
}
.MyProfileUpdateInfoArea h4{
  font-weight: 600;
  font-size: 20px;
}
.MyProfileUpdateInfoArea h5{
  color: rgba(34, 34, 34, .5);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.07px;
}
.MyProfileInfoGroup{
  border-bottom: 2px solid #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 25px 0 12px;
  position: relative;
}
.MyProfileInfoBox{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.MyPageUnit_content{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.MyPageUnit_content p{
  padding-right: 58px;
  flex: 1;
  font-size: 16px;
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.MyPageUnit_content button{
  position: absolute;
  right: 0;
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, .8);
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
  height: 34px;
  letter-spacing: -.06px;
  padding: 0 14px;
  background-color: white;
}
.MyProfileModifyBox{
  padding-top: 25px;
}
.MyProfileInputItem{
  position: relative;
}
.MyProfileInputItem input{
  font-size: 15px;
  letter-spacing: -.15px;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  outline: none;
}
.MyProfileInputItem input:focus{
  border-bottom: 2px solid black;
}
.MyProfileInputBox p {
  color: rgba(34, 34, 34, .5);
  font-size: 11px;
  line-height: 16px;
}
.MyProfileInputButton{
  padding-top: 28px;
  text-align: center;
  gap: 5px;
}
.MyProfileCancelButton{
  padding: 0 38px;
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, .8);
  border-radius: 12px;
  font-size: 14px;
  height: 42px;
  cursor: pointer;
}
.MyProfileRegisterButton{
  padding: 0 38px;
  margin-left: 10px;
  border: 1px solid black;
  background-color: #222;
  color: #fff;
  font-weight: 700;
  border-radius: 12px;
  font-size: 14px;
  height: 42px;
  cursor: pointer;
}
.MyProfileModifySaveButtonArea{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.MyProfileModifySaveButtonArea button{
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  color: white;
  background-color: black;
}