
.ExitModal-dialog {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  top: 10%;
}

.ExitModal-content {
  border: none;
  overflow: hidden;
}

.ExitModalHeader {
  position: relative;
  background-color: rgb(203, 24, 110);
  color: white;
}
.ExitModalCloseButton {
  position: absolute;
  top: 10px; 
  right: 10px; 
  border: none !important;
  background: none !important;
  color: #ff0000 !important; 
  font-size: 1.5rem; 
  cursor: pointer;
}
.ExitModalBody {
  padding: 5px;
}
.ExitModalInputBox {
  padding-top: 10px;
  border-top: 1px solid rgba(167, 167, 167, 0.509) ;
}
.ExitModalInputBox p{
  margin: 5px 0;
  font-size: 14px;
}
.ExitModalInputBox input{
  width: 400px;
  height: 40px;
  margin: 20px 0;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(0,0,0,0.7);
  padding-left: 10px;
  font-size: 15px;
}
.ExitModalSendButtonArea{
  text-align: center;
}
.ExitModalSendButtonArea p{
  font-size: 14px;
  color: rgb(0,0,0,0.7);
  margin-top: 10px;
}
.ExitModalSendButton{
  width: 200px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}