.UserProfileModal-dialog {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  top: 10%;
}

.UserProfileModal-content{
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.UserProfileModalHeader {
  position: relative;
  height: 200px;
  background-color: rgb(135, 192, 187); /* ModalHeader의 배경색 변경 */
  background-size: cover;
  background-position: center;
}
.UserProfileModalReportImage{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px; 
  right: 60px; 
  border: none !important;
  background: none !important;
  color: #ff0000 !important; 
  font-size: 1.5rem;
  cursor: pointer;
}
.UserProfileModalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none !important;
  background: none !important;
  color: #ff0000 !important; 
  font-size: 1.5rem;
  cursor: pointer;
}

.UserProfileModalBody {
  margin-top: 20px;
  text-align: center;
}

.UserProfileModalProfileImage {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 3px solid white;
  width: 100px;
  height: 100px;
}

.UserProfileModalProfileName{
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
}

.UserProfileModalProfileDetails{
  margin-top: 10px;
  color: #666;
  font-size: 1rem;
}