.findIdWrap{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FindByIdArea{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} 
.FindByIdButtonArea{
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.FindByPasswordMoveButton{
  color: white;
  background-color: #0078d7;
  border: none;
  border-radius: 8px;
  padding: 10px;
}
.FindByIdCloseButton{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  
}