<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.awoolim.mapper.AlarmMapper">
	<!-- SQL 문 작성 -->
	<select id="getUnreadAlarmsByUserId" parameterType="int"
		resultType="com.kh.awoolim.domain.Alarm">
		SELECT ALARMNO, USERID, MESSAGE, ISREAD
		FROM ALARM
		WHERE
		USERID = #{userId} AND ISREAD = 0
	</select>

	<update id="markAlarmAsRead" parameterType="java.util.List">
		<foreach item="alarmNo" collection="list" open=""
			separator=";" close="">
			UPDATE ALARM
			SET ISREAD = 1
			WHERE ALARMNO =
			#{alarmNo}
		</foreach>
	</update>

	<insert id="insertAlarm"
		parameterType="com.kh.awoolim.domain.Alarm">
		INSERT INTO ALARM (ALARMNO, USERID, MESSAGE, ISREAD)
		VALUES (#{alarmNo}, #{userId}, #{message}, #{isRead})
	</insert>
</mapper>
