<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.awoolim.mapper.ClubMemberMapper">

  <!-- 클럽 멤버 정보 조회 -->
  <select id="readClubMember" resultType="com.kh.awoolim.domain.Member" parameterType="int">
    SELECT 
      m.USERID as userId, 
      m.USERNAME as userName,
      m.NICKNAME as nickName, 
      m.USERIMAGE as userImage, 
      m.USERBACKIMAGE as userBackImage, 
      m.USERINTRO as userIntro
    FROM 
      CLUBMEMBER cm
    JOIN 
      MEMBER m ON cm.USERID = m.USERID
    WHERE 
      cm.CLUBNO = #{clubNo} 
      AND cm.ISACCEPT = 1
  </select>

  <!-- 클럽 멤버 리스트 조회 -->
  <select id="readClubMemberList" resultType="java.util.Map" parameterType="int">
    SELECT 
      M.USERID,
      M.USERNAME,
      M.USEREMAIL,
      M.USERBIRTH,
      M.USERGENDER,
      M.USERPHONE,
      M.NICKNAME,
      M.USERIMAGE,
      M.USERBACKIMAGE,
      M.USERINTRO,
      DATE_FORMAT(CM.REGDATE, '%y.%m.%d') AS REGDATE 
    FROM 
      MEMBER M 
    JOIN 
      CLUBMEMBER CM ON M.USERID = CM.USERID
    WHERE 
      CM.CLUBNO = #{clubNo} 
      AND CM.USERID != #{userId} 
      AND CM.ISACCEPT = #{isAccept}
  </select>

  <!-- 특정 유저의 가입 여부 확인 -->
  <select id="findById" resultType="int" parameterType="int">
    SELECT 
      COUNT(MEMBERNO) 
    FROM 
      CLUBMEMBER
    WHERE 
      CLUBNO = #{clubNo} 
      AND USERID = #{userId} 
      AND ISACCEPT = 0
  </select>

  <!-- 클럽 멤버 추가 -->
  <insert id="create" parameterType="int">
    INSERT INTO CLUBMEMBER (CLUBNO, USERID, REGDATE, ISACCEPT)
    VALUES (#{clubNo}, #{userId}, NOW(), 0)
  </insert>

  <!-- 클럽 멤버 삭제 -->
  <delete id="delete" parameterType="int">
    DELETE FROM CLUBMEMBER 
    WHERE CLUBNO = #{clubNo} 
    AND USERID = #{userId}
  </delete>

  <!-- 클럽 멤버 수락 업데이트 -->
  <update id="update" parameterType="int">
    UPDATE CLUBMEMBER 
    SET ISACCEPT = 1
    WHERE CLUBNO = #{clubNo} 
    AND USERID = #{userId}
  </update>

  <!-- 승인 대기 중인 클럽 멤버 수 조회 -->
  <select id="myClubSignupCount" resultType="int" parameterType="int">
    SELECT 
      COUNT(MEMBERNO) 
    FROM 
      CLUBMEMBER
    WHERE 
      CLUBNO = #{clubNo} 
      AND ISACCEPT = 0
  </select>

</mapper>