<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.awoolim.mapper.ClubScheduleMapper">

	<!-- 클럽 번호로 일정 목록을 가져오는 SQL -->
	<select id="getSchedulesByClubNo" resultType="com.kh.awoolim.domain.ClubSchedule">
		SELECT SCHEDULENO, CLUBNO, DDAY, CONTENT
		FROM CLUBSCHEDULE
		WHERE CLUBNO = #{clubNo}
	</select>

	<!-- 일정 생성 -->
	<insert id="create" parameterType="com.kh.awoolim.domain.ClubSchedule">
		INSERT INTO CLUBSCHEDULE (CLUBNO, DDAY, CONTENT) 
		VALUES (#{clubNo}, #{dDay}, #{content})
	</insert>

	<!-- 특정 일정 조회 -->
	<select id="findBySchedule" resultType="com.kh.awoolim.domain.ClubSchedule" parameterType="com.kh.awoolim.domain.ClubSchedule">
		SELECT * FROM CLUBSCHEDULE
		WHERE CLUBNO = #{clubNo} AND DDAY = #{dDay}
	</select>

	<!-- 일정 업데이트 -->
	<update id="update" parameterType="com.kh.awoolim.domain.ClubSchedule">
		UPDATE CLUBSCHEDULE 
		SET CONTENT = #{content}
		WHERE SCHEDULENO = #{scheduleNo}
	</update>

	<!-- 일정 삭제 -->
	<delete id="delete" parameterType="com.kh.awoolim.domain.ClubSchedule">
		DELETE FROM CLUBSCHEDULE
		WHERE CLUBNO = #{clubNo} AND DDAY = #{dDay}
	</delete>

</mapper>
