<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.awoolim.mapper.NoticeMapper">
	
	<resultMap type="com.kh.awoolim.domain.Notice" id="noticeMap">
		<id property="noticeNo" column="NOTICENO" />
		<result property="keyword" column="KEYWORD" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="count" column="COUNT" />
		<result property="regDate" column="REGDATE" />
	</resultMap>

	<select id="getNoticeList" resultMap="noticeMap">
		SELECT * FROM NOTICE ORDER
		BY NOTICENO DESC
	</select>

	<!-- title 클릭 시 세부사항 읽기 read -->
	<select id="getNoticeById" parameterType="int" resultMap="noticeMap">
		SELECT * FROM NOTICE WHERE NOTICENO = #{noticeNo}
	</select>

	<!-- keyword와 title내에 있는 단어로 검색 -->
	<select id="searchNotices" resultMap="noticeMap"
		parameterType="String">
		SELECT * FROM NOTICE
		WHERE TITLE LIKE '%'||#{query}||'%'
		OR KEYWORD LIKE '%'||#{query}||'%'
		ORDER BY NOTICENO DESC
	</select>

	<insert id="insertNotice">
		INSERT INTO NOTICE(NOTICENO, KEYWORD, TITLE, CONTENT)
		VALUES(notice_seq.NEXTVAL, #{keyword}, #{title}, #{content})
	</insert>


	<update id="updateNotice">
		UPDATE NOTICE
		SET KEYWORD=#{keyword}, TITLE=#{title}, CONTENT=#{content},	COUNT=#{count}
		WHERE NOTICENO=#{noticeNo}
	</update>

	<!-- 조회수 증가 -->
	<update id="increaseViewCount" parameterType="int">
		UPDATE NOTICE SET
		COUNT = COUNT + 1
		WHERE NOTICENO = #{noticeNo}
	</update>

	<delete id="deleteNotice" parameterType="int">
		DELETE FROM NOTICE WHERE
		NOTICENO = #{noticeNo}
	</delete>


</mapper>