<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.awoolim.mapper.RefreshTokenMapper">
		<select id="read" resultType="RefreshToken">
		SELECT * FROM REFRESHTOKEN WHERE
		refresh = #{refresh}
	</select>
	<insert id="create" parameterType="RefreshToken">
		INSERT INTO REFRESHTOKEN
		VALUES(refreshtoken_seq.nextVal,#{userName},#{refresh},#{expiration})
	</insert>
	<delete id="delete" parameterType="String">
		DELETE FROM REFRESHTOKEN
		WHERE refresh = #{refresh}
	</delete>
</mapper>